body{
    background-color: black;
}

.featureList{
    padding-left: 40px !important;
    gap: 10px;
    list-style: disc; /* keeps bullet points */
    align-self: flex-start;
}

.ARHeroDesktop {
    position: relative; /* Required for absolute children */
    /* margin-top: 80px; */
    max-height: 920px;
    width: 100vw;
    max-width: 1920px;
    aspect-ratio: 226 / 100; 
    overflow: hidden; /* Prevent content from escaping */
}

.TrailerLnk{
     position: absolute;
     bottom: 15%;
     left : 9%;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    padding: 1rem 3.5rem;
    background-color: #000000;
    color: #ffffff;
    font-family: 'OpnSnsHbrw';
    font-size: 1.3rem;
    border-radius: 7px;
    text-decoration: none;
    white-space: nowrap;
}

      /* YOUTUBE ------------------------------------------------------ */
        section{
            width: 100%;
        }
    
        .video-container {
            width: 80%;
            max-width: 1920px;
            max-height: 1080px;
            aspect-ratio: 175 / 100; 
            margin: 0 auto;
            border-radius: 15px;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

    /*------------------------------------------------------------------*/



    /* FEATURE GRID ------------------------------------------------------ */
        .feature-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 30px;
        }
        .feature-card {
            background: #282828;
            padding: 170px 30px 0 30px;
            padding-bottom: 0; 
            border-radius: 16px;
            display: block;
            box-shadow: 0 2px 6px rgba(0,0,0,0.05);
            /* width:100%; */
            /* height: 100px; */
        }

        .TextContainer{
         
            
        }

        .feature-card h3 {
            margin-bottom: 5px ;
            font-family: 'OpnSnsHbrw';
            color: #ffffff;
            font-size: 1.3rem;
        }
        .feature-card p {
            font-family: 'OpnSnsHbrw';
            /* margin: 0; */
            color: #ffffff;
            font-size: 1rem;
            font-weight: 450;
        }

        #Import{
            background-image: url("assets/ARStudio/import.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        #Placement{
            background-image: url("assets/ARStudio/Placement.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        #Placement p{
            color:#000000;
        }

        #ImageTracking{
            background-image: url("assets/ARStudio/ImageTracking.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        #Transform{
            background-image: url("assets/ARStudio/Transform.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        #Plan{
            background-image: url("assets/ARStudio/FreePlan.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        #Optimization{
            background-image: url("assets/ARStudio/Optimization.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
        }

        

    /*-----------------------------------------------------------------------*/



    /* Customize GRID ------------------------------------------------------ */
      .BoldP{
            text-align: left;
            font-family: 'OpnSnsHbrw';
            font-size: 1.5rem;
            font-weight: 650;
            color: white;
      }

      .NormP{
            margin-top: -20px;
            text-align: left;
            font-family: 'OpnSnsHbrw';
            font-size: 1.5rem;
            font-weight: 400;
            color: white;
      }
    /* -------------------------------------------------------------------- */

    /* Custom AR Studio ------------------------------------------------------ */

      .CstmARImgCntnr{
            background-image: url("assets/ARStudio/CustomARStudio.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
            aspect-ratio: 162/100;
            max-width: 1920px;
            width: 70%;
            margin-top: 75px;
            position: relative;
      }

        .ContactUsLink{
            position: absolute;
            bottom: 10%;
            left : 9%; 
            /* margin-left: 30px; */
            /* margin-right: 30px; */
            padding: 1.1rem 4rem;
            background-color: #000000;
            color: #ffffff;
            font-family: 'OpnSnsHbrw';
            font-size: 1.3rem;
            border-radius: 12px;
            text-decoration: none;
            white-space: nowrap;
        }
   /* -------------------------------------------------------------------- */

    /* Page Footer ------------------------------------------------------ */

          .FooterPoster{
            background-image: url("assets/ARStudio/ARStudioCommunityPoster.svg");
            background-size: cover;       /* fills entire div */
            background-position: center;  /* keeps image centered */
            background-repeat: no-repeat; 
            aspect-ratio: 5175/1000;
            max-width: 1920px;
            width: 100%;
            margin-bottom: 20px;
            position: relative;
      }

      #FirstLiFooter{
        margin-left: 75px;
      }

      .FooterBttn{
         border: 0.5px solid #d4d4d4;
         border-radius: 10px;
         color: white;
         font-family: 'OpnSnsHbrw';
         font-size: 1.5rem;
         padding: 10px 75px;
        position: absolute;
        bottom: 10%;
        left: 5%;
        text-decoration: none;
        transition: all 0.3s ease;
      }

    .FooterBttn:hover{
        background-color: white;
        color:black;
    }
    /* -------------------------------------------------------------------- */

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* For images to scale properly */
}

.posterBG {
    z-index: 0;
}

.BGBlur {
    background: rgba(47, 47, 47, 0.2); /* Required for blur effect */
    backdrop-filter: blur(10px);
    z-index: 1;
}

.posterOverlay {
    z-index: 2;
}


.gifSection{
    display: flex;
    margin: 200px 0 150px 0; 
    /* width: 100vw; */
    max-width: 1920px;
    width: 80%;
    justify-self: center;
    justify-content: center;
}

.posterTitleH1{
    color: white;
    font-family: 'OpnSnsHbrw';
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    white-space: nowrap;
    /* margin-bottom: 2%; */
    margin-top: 10%;
    
    /* margin: 10% auto; */
}

.gifSectionTightWidth{
    padding: 0 20%;
    display: none;
    /* display: flex;
    flex-direction: column; */
    margin: 3% 0;
    /* width: 100vw; */
    max-width: 1920px;
    /* width: 80%; */
    align-self: center;
    justify-content: center;
}
.horizontalGifContainer{
    display: flex;
    margin: 7% 3%;
    justify-content: center;
}

.GifTxtContainer{
    /* max-width: 500px; */
    padding: 0 5%;
    /* margin-top: 5%; */
}

.underTitle{
    color: white;
    font-family: 'OpnSnsHbrw';
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10%;
}
.gifWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    z-index: 0;
}

.IGif::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 115%;
    height: 115%;
    background: rgba(0, 183, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(50px);
}

.IIGif::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 115%;
    height: 115%;
    background: rgba(200, 0, 255, 0.492);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(50px);
}

.introGif{
    max-height: 700px;
    height: 80vh;
    width: auto;
    border: 3px solid rgb(103, 103, 103);
    border-radius: 25px;
} 

.BttnImg{
    width: 42px;
    height: 31px;
    align-self: center;
    margin: 0 15px 0 0;
}

.linkButtons{
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

.Bttn_Img_Txt{
    margin: 0 10%;
    display: flex;
    text-decoration: none;
    padding: 0 15px;
    border: 2px solid rgb(103, 103, 103);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.Bttn_Img_Txt:hover{
    background: #5656568a;
}

.BttnTitle{
    color: white;
    font-family: 'OpnSnsHbrw';
    font-size: 1rem;
    font-weight: 500;
    margin-top: -10px;
}


.BttnAddtionalText{
    color: white;
    font-family: 'OpnSnsHbrw';
    font-size: 0.85rem;
    font-weight: 300;
    white-space: nowrap;
    /* margin-top: 10%; */
}

@media (max-width:1220px){
        * {box-sizing:border-box}
        
        .gifSection{
        display: none;
    }
    
    .GifTxtContainer{
        box-sizing: border-box;
    }

    .gifSectionTightWidth{
        box-sizing: border-box;
        display: flex;
        flex-direction: column; 
    }

    .gifWrapper{
        margin: 0 7%;
    }
}